body {
    font-family: 'HarryPotter', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d0d2c8;
}

#app {
    max-width: 800px;
    margin: 50px auto;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

h1 {
    color: #333;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #b39c82;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #d0a572;
    color: #fff;
}

button {
    background-color: #b39c82;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

button:hover {
    background-color: #d0a572;
}

#characterForm,
#updateCharacterForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

#characterForm label,
#characterForm input,
#updateCharacterForm label,
#updateCharacterForm input {
    margin-bottom: 5px;
}

#characterForm input,
#updateCharacterForm input {
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 10px);
}

#characterForm button:hover,
#updateCharacterForm button:hover {
    background-color: #d0a572;
}
